<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.crg">
<head>
    <meta charset="UTF-8">
    <title>Кукла [[${doll.namePerson}]]</title>
</head>
<body>
<a data-th-href="@{/dolls}">&larr; Вернуться к списку куколок</a>
<h1 data-th-text="${doll.series}"></h1>
<table>
    <thead>
    <tr>
        <th>Вид промо</th>
        <th>Вид у меня</th>
    </tr>
    </thead>
    <tbody>
        <td>
            <div th:if="${doll.promImage}">
                <img width="140" th:src="@{{dollId}/promImage(dollId=${doll.id})}" alt="Doll promImage">
            </div>
        </td>
        <td>
            <div th:if="${doll.myImage}">
                <img width="140" th:src="@{{dollId}/myImage(dollId=${doll.id})}" alt="Doll myImage">
            </div>
        </td>
    </tbody>
</table>
<br>
<ul>
    <li><strong>ID</strong>: <span data-th-text="${doll.id}"></span></li>
    <li><strong>Год выпуска куклы</strong>: <span data-th-text="${doll.year}"></span></li>
    <li><strong>Наименование бренда</strong>: <span data-th-text="${doll.brand}"></span></li>
    <li><strong>Наименование линейки</strong>: <span data-th-text="${doll.ruler}"></span></li>
    <li><strong>Наименование серии</strong>: <span data-th-text="${doll.series}"></span></li>
    <li><strong>Наименование персонажа</strong>: <span data-th-text="${doll.namePerson}"></span></li>
    <li><strong>Описание</strong>: <span data-th-text="${doll.description}"></span></li>
    <li><strong>Стоимость в рублях</strong>: <span data-th-text="${doll.price}"></span></li>
</ul>

<a data-th-href="@{/dolls/{dollId}/edit(dollId=${doll.id})}">&larr; Отредактировать данные куколки</a>
<form method="post" data-th-action="@{/dolls/{dollId}/delete(dollId=${doll.id})}">
    <button type="submit">Удалить куклу ((</button>
</form>
<form method="post" data-th-action="@{http://localhost:8082/logout}">
    <button type="submit">Выйти</button>
</form>
</body>
</html>