<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.crg"><head>
    <meta charset="UTF-8">
    <title>Редактирование куклы &laquo; [[${doll.namePerson}]]&raquo;</title>
</head>
<body>
<a data-th-href="@{/dolls/{dollId}(dollId=${doll.id})}">&larr; Обратно к кукле</a>
    <h1>Редактирование куклы [[${doll.namePerson}]]</h1>
    <div style="color:red" data-th-if="${errors}">
        <h3>Допущены ошибки при вводе данных</h3>
        <ul>
            <li data-th-each="error:${errors}" data-th-text="${error}"></li>
        </ul>
    </div>
<table>
    <thead>
    <tr>
        <th>Вид у меня</th>
        <th>Вид промо</th>
    </tr>
    </thead>
    <tbody>
    <td>
        <div th:if="${doll.myImage}">
            <img width="140" th:src="@{update/myImage}" alt="Doll myImage">
        </div>
    </td>
    <td>
        <div th:if="${doll.promImage}">
            <img width="140" th:src="@{update/promImage}" alt="Doll promImage">
        </div>
    </td>
    </tbody>
</table>
<br>
    <form method="post" data-th-action="@{/dolls/{dollId}/edit(dollId=${doll.id})}" enctype="multipart/form-data">
        <label>
            Год выпуска:<br>
            <input type="text" name="year" data-th-value="${doll?.year}">
        </label><br>
        <label>
            Бренд:<br>
            <input type="text" name="brand" data-th-value="${doll?.brand}">
        </label><br>
        <label>
            Линейка:<br>
            <input type="text" name="ruler" data-th-value="${doll?.ruler}">
        </label><br>
        <label>
            Серия:<br>
            <input type="text" name="series" data-th-value="${doll?.series}">
        </label><br>
        <label>
            Имя персонажа:<br>
            <input type="text" name="namePerson" data-th-value="${doll?.namePerson}">
        </label><br>
        <label>
            Описание:<br>
            <textarea name="description" data-th-text="${doll?.description}"></textarea>
        </label><br>
        <label>
            Стоимость в рублях:<br>
            <input type="text" name="price" data-th-value="${doll?.price}">
        </label><br>
        <label>
            Заменить мое изображение:<br>
            <input type="file", name="myImage">
        </label><br>
        <label>
            Заменить промо изображение:<br>
            <input type="file", name="promImage">
        </label><br>
        <button type="submit">Изменить</button>
    </form>
</body>
</html>