<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новая кукла</title>
</head>
<body>
<a data-th-href="@{/dolls}">&larr; Вернуться к списку кукол</a>
    <h1>Добавляем новую куклу :))</h1>
    <form method="post" data-th-action="@{/dolls/new}" enctype="multipart/form-data">
        <label>
            Год выпуска:<br>
            <input type="text" name="year">
        </label><br>
        <label>
            Бренд:<br>
            <input type="text" name="brand">
        </label><br>
        <label>
            Линейка:<br>
            <input type="text" name="ruler">
        </label><br>
        <label>
            Серия:<br>
            <input type="text" name="series">
        </label><br>
        <label>
            Имя персонажа:<br>
            <input type="text" name="namePerson">
        </label><br>
        <label>
            Описание:<br>
            <textarea name="description"></textarea>
        </label><br>
        <label>
            Стоимость в рублях:<br>
            <input type="text" name="price">
        </label><br>
        <label>
            Картинка моя:<br>
            <input type="file" name="myImage">
        </label><br>
        <label>
            Картинка промо:<br>
            <input type="file" name="promImage">
        </label><br>
        <button type="submit">Добавляем)))</button>
    </form>
</body>
</html>